body {
 
background: #337ab7;

}


.nav {
 font-size: 20px;
 font-style: italic;
 /*border-style: dot-dash;*/
}

.container-fluid {
	color: blue;
}


.logo {
	width: 100px;
}

.jumbotron {
	padding: 40px;
}

.image1 {

	width: 280px;
	margin-right: 20px;
}

p {
	font-size: 14px;
}