.nav {
 font-size: 25px;
 font-family: cursive;
 content: white;
 /*background: blue;*/
}

.logo {
	width: 100px;
}

.jumbotron {
	padding: 40px;
}

.image1 {

	width: 280px;
	margin-right: 20px;
}

p {
	font-size: 14px;
}